<!--suppress ALL -->
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>

    <title>Rockwell Collins</title>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous">
    </script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/vue-good-table@2.14.1/dist/vue-good-table.js"></script>

    <link type="text/css" rel="stylesheet" href="//unpkg.com/vue-good-table@2.14.1/dist/vue-good-table.css"></link>

    <link rel="stylesheet" href="https://unpkg.com/vue-nav-tabs/themes/vue-tabs.css">
    <script src="https://unpkg.com/vue-nav-tabs/dist/vue-tabs.js"></script>

    <style>
        [v-cloak] {
            display: none;
        }


    </style>
    <style>
        .button-container-div-right {
            width: 200px;
            height: 70;
            text-align: right;
            position: fixed;
            right: 5%;
        }
        .button-container-div-left {
            width: 200px;
            height: 70;
            text-align: left;
            position: fixed;
            left: 5%
        }


    </style>
</head>

<body>

<div id="MainApp" v-cloak>

    <b-alert show>
        <h1>Rockwell Collins</h1>
    </b-alert>

    <div v-if="mode == 'locomotives'" class="container">

        <div style="margin-bottom: 10px;">
            <b-button type="button" v-on:click="mode = 'main'" variant="info" class="btn btn-default">
                <span class="glyphicon glyphicon-triangle-left">Back to main page</span></b-button>
            <div v-if="locomotives_timestamp" class="float-right">Data gathered at {{locomotives_timestamp}}</div>
        </div>

        <vue-good-table title="Fleet Communications Report"
                        :columns=this.locomotives_columns :rows=this.locomotives_rows :paginate="true"
                        :pagination-options="{ enabled: true, perPage: 20}"
                        styleClass="vgt-table striped bordered condensed">
            <template slot="table-row" slot-scope="props">
                                 <span v-if="props.column.field == 'Locomotive'" class="col-sm-6">
                                       <span>{{props.row.Locomotive}}</span>
                                 </span>
                <span v-if="props.column.field == 'ATTModem'">
                                       <span v-if="!props.row.ATTModemIsOnline" class="badge badge-danger">{{props.row.ATTModem}}</span>
                                       <span v-if="props.row.ATTModemIsOnline" class="badge badge-success">{{props.row.ATTModem}}</span>
                                 </span>
                <span v-if="props.column.field == 'VZWModem'">
                                       <span v-if="!props.row.VZWModemIsOnline" class="badge badge-danger">{{props.row.VZWModem}}</span>
                                       <span v-if="props.row.VZWModemIsOnline" class="badge badge-success">{{props.row.VZWModem}}</span>
                                 </span>
                <span v-if="props.column.field == 'WiFi'">
                                       <span v-if="!props.row.WiFiIsOnline" class="badge badge-danger">{{props.row.WiFi}}</span>
                                       <span v-if="props.row.WiFiIsOnline" class="badge badge-success">{{props.row.WiFi}}</span>
                                 </span>
                <span v-if="props.column.field == 'Radio'">
                                       <span v-if="!props.row.RadioIsOnline" class="badge badge-danger">{{props.row.Radio}}</span>
                                       <span v-if="props.row.RadioIsOnline" class="badge badge-success">{{props.row.Radio}}</span>
                                 </span>
            </template>
        </vue-good-table>
    </div>

    <div v-if="mode == 'messages'" class="container">

        <div style="margin-bottom: 10px;">
            <b-button type="button" v-on:click="mode = 'main'" variant="info" class="btn btn-default">
                <span>Back to main page</span>
            </b-button>
            <b-button type="button" v-on:click="downloadMessages" variant="info" class="btn btn-default float-right">
                <span>Download CSV</span>
            </b-button>
        </div>

        <div class="row">
            <vue-good-table title="Message Report" class="col m-4"
                            :columns=this.messages_columns :rows=this.messages_rows :paginate="true"
                            :pagination-options="{ enabled: true, perPage: 100}"
                            styleClass="vgt-table striped bordered condensed">
                <template slot="table-row" slot-scope="props">
                    <span v-if="props.column.field == 'address'">
                        <span>{{props.row.address}}</span>
                    </span>
                    <span v-if="props.column.field == 'messageType'">
                        <span>{{props.row.messageType}}</span>
                    </span>
                    <span v-if="props.column.field == 'timestamp'">
                        <span>{{props.row.timestamp}}</span>
                        <span class="float-right">
                            <button class="btn btn-outline-info btn-sm" v-on:click="openMessageDetails(props.row.id)">
                                Details
                            </button>
                        </span>
                    </span>
                </template>
            </vue-good-table>
            <div v-if="message_2080">
                <b-modal v-model="message_2080" size="lg" scrollable ok-only title="Locomotive Position Report">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Railroad SCAC</td>
                            <td>{{this.data_2080.scac}}</td>
                        </tr>
                        <tr>
                            <td>Source Address</td>
                            <td>{{this.data_2080.srcAddress}}</td>
                        </tr>
                        <tr>
                            <td>Destination Address</td>
                            <td>{{this.data_2080.destAddress}}</td>
                        </tr>
                        <tr>
                            <td>Current PTC Authority Reference Number</td>
                            <td>{{this.data_2080.ptcAuthorityReferenceNumber}}</td>
                        </tr>
                        <tr>
                            <td>Head End Milepost</td>
                            <td>{{this.data_2080.headEndMilepost}}</td>
                        </tr>
                        <tr>
                            <td>Head End Milepost Prefix</td>
                            <td>{{this.data_2080.headEndMilepostPrefix}}</td>
                        </tr>
                        <tr>
                            <td>Head End Milepost Suffix</td>
                            <td>{{this.data_2080.headEndMilepostSuffix}}</td>
                        </tr>
                        <tr>
                            <td>Head End Track name</td>
                            <td>{{this.data_2080.headEndTrackName}}</td>
                        </tr>
                        <tr>
                            <td>Head End Railroad SCAC</td>
                            <td>{{this.data_2080.headEndScac}}</td>
                        </tr>
                        <tr>
                            <td>Head End PTC Subdivision/District ID</td>
                            <td>{{this.data_2080.headEndSubdivDistrictId}}</td>
                        </tr>
                        <tr>
                            <td>Rear End Milepost</td>
                            <td>{{this.data_2080.rearEndMilepost}}</td>
                        </tr>
                        <tr>
                            <td>Rear End Milepost Prefix</td>
                            <td>{{this.data_2080.rearEndMilepostPrefix}}</td>
                        </tr>
                        <tr>
                            <td>Rear End Milepost Suffix</td>
                            <td>{{this.data_2080.rearEndMilepostSuffix}}</td>
                        </tr>
                        <tr>
                            <td>Rear End Track name</td>
                            <td>{{this.data_2080.rearEndTrackName}}</td>
                        </tr>
                        <tr>
                            <td>Rear End Railroad SCAC</td>
                            <td>{{this.data_2080.rearEndScac}}</td>
                        </tr>
                        <tr>
                            <td>Rear End PTC Subdivision/District ID</td>
                            <td>{{this.data_2080.rearEndSubdivDistrictId}}</td>
                        </tr>
                        <tr>
                            <td>Speed</td>
                            <td>{{this.data_2080.speed}}</td>
                        </tr>
                        <tr>
                            <td>Current Position Uncertainty</td>
                            <td>{{this.data_2080.positionUncertainty}}</td>
                        </tr>
                        <tr>
                            <td>Direction of Travel</td>
                            <td>{{this.data_2080.travelDirection}}</td>
                        </tr>
                        <tr>
                            <td>Head End Current Position</td>
                            <td>
                                x: {{this.data_2080.headEndPosition.x}} <br>
                                y: {{this.data_2080.headEndPosition.y}} <br>
                                z: {{this.data_2080.headEndPosition.z}}
                            </td>
                        </tr>
                        <tr>
                            <td>Position Validity</td>
                            <td>{{this.data_2080.positionValidity}}</td>
                        </tr>
                        <tr>
                            <td>Reason for Report</td>
                            <td>{{this.data_2080.positionReportReason}}</td>
                        </tr>
                        <tr>
                            <td>Locomotive State Summary</td>
                            <td>{{this.data_2080.locomotiveStateSummary}}</td>
                        </tr>
                        <tr>
                            <td>Locomotive State</td>
                            <td>{{this.data_2080.locomotiveState}}</td>
                        </tr>
                        <tr>
                            <td>Control Brake</td>
                            <td>{{this.data_2080.controlBrake}}</td>
                        </tr>
                        <tr>
                            <td>Time Elapsed Parameter</td>
                            <td>{{this.data_2080.timeElapsed}}</td>
                        </tr>
                        <tr>
                            <td>Distance Elapsed Parameter</td>
                            <td>{{this.data_2080.distanceElapsed}}</td>
                        </tr>
                    </tbody>
                </table>
            </b-modal>
            </div>
            <div v-if="message_2083">
                <b-modal v-model="message_2083" size="lg" scrollable ok-only title="Enforcement Warning/Braking Notification">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Railroad SCAC</td>
                            <td>{{this.data_2083.scac}}</td>
                        </tr>
                        <tr>
                            <td>Train ID</td>
                            <td>{{this.data_2083.trainID}}</td>
                        </tr>
                        <tr>
                            <td>Source Address</td>
                            <td>{{this.data_2083.srcAddress}}</td>
                        </tr>
                        <tr>
                            <td>Destination Address</td>
                            <td>{{this.data_2083.destAddress}}</td>
                        </tr>
                        <tr>
                            <td>Warning/Enforcement Type</td>
                            <td>{{this.data_2083.warningEnforcementType}}</td>
                        </tr>
                        <tr>
                            <td>Onboard Software Version</td>
                            <td>{{this.data_2083.onboardSoftwareVersion}}</td>
                        </tr>
                        <tr>
                            <th colspan="2">Target Information</th>
                        </tr>
                        <tr>
                            <td>Target Type</td>
                            <td>{{this.data_2083.targetType}}</td>
                        </tr>
                        <tr>
                            <td>Target Description</td>
                            <td>{{this.data_2083.targetDescription}}</td>
                        </tr>
                        <tr>
                            <td>Start Milepost</td>
                            <td>{{this.data_2083.startTargetMilepost}}</td>
                        </tr>
                        <tr>
                            <td>Start Milepost Prefix</td>
                            <td>{{this.data_2083.startTargetMilepostPrefix}}</td>
                        </tr>
                        <tr>
                            <td>Start Milepost Suffix</td>
                            <td>{{this.data_2083.startTargetMilepostSuffix}}</td>
                        </tr>
                        <tr>
                            <td>Start Track name</td>
                            <td>{{this.data_2083.startTargetTrackName}}</td>
                        </tr>
                        <tr>
                            <td>Start Railroad SCAC</td>
                            <td>{{this.data_2083.startTargetScac}}</td>
                        </tr>
                        <tr>
                            <td>Start PTC Subdivision/District ID</td>
                            <td>{{this.data_2083.startTargetSubdivDistrictId}}</td>
                        </tr>
                        <tr>
                            <td>End Milepost</td>
                            <td>{{this.data_2083.endTargetMilepost}}</td>
                        </tr>
                        <tr>
                            <td>End Milepost Prefix</td>
                            <td>{{this.data_2083.endTargetMilepostPrefix}}</td>
                        </tr>
                        <tr>
                            <td>End Milepost Suffix</td>
                            <td>{{this.data_2083.endTargetMilepostSuffix}}</td>
                        </tr>
                        <tr>
                            <td>End Track name</td>
                            <td>{{this.data_2083.endTargetTrackName}}</td>
                        </tr>
                        <tr>
                            <td>End Railroad SCAC</td>
                            <td>{{this.data_2083.endTargetScac}}</td>
                        </tr>
                        <tr>
                            <td>End PTC Subdivision/District ID</td>
                            <td>{{this.data_2083.endTargetSubdivDistrictId}}</td>
                        </tr>
                        <tr>
                            <td>Target Speed</td>
                            <td>{{this.data_2083.targetSpeed}}</td>
                        </tr>
                        <tr>
                            <th colspan="2">Warning Information</th>
                        </tr>
                        <tr>
                            <td>Warning Time</td>
                            <td>
                                {{this.data_2083.warningTime}} <br>
                                {{this.data_2083.warningTimeUTC}}
                            </td>
                        </tr>
                        <tr>
                            <td>Start Milepost</td>
                            <td>{{this.data_2083.warningMilepost}}</td>
                        </tr>
                        <tr>
                            <td>Start Milepost Prefix</td>
                            <td>{{this.data_2083.warningMilepostPrefix}}</td>
                        </tr>
                        <tr>
                            <td>Start Milepost Suffix</td>
                            <td>{{this.data_2083.warningMilepostSuffix}}</td>
                        </tr>
                        <tr>
                            <td>Start Track name</td>
                            <td>{{this.data_2083.warningTrackName}}</td>
                        </tr>
                        <tr>
                            <td>Railroad SCAC</td>
                            <td>{{this.data_2083.warningScac}}</td>
                        </tr>
                        <tr>
                            <td>PTC Subdivision/District ID</td>
                            <td>{{this.data_2083.warningSubdivDistrictId}}</td>
                        </tr>
                        <tr>
                            <td>Start Position Uncertainty</td>
                            <td>{{this.data_2083.warningUncertainty}}</td>
                        </tr>
                        <tr>
                            <td>Warning Distance</td>
                            <td>{{this.data_2083.warningDistance}}</td>
                        </tr>
                        <tr>
                            <td>Direction of Travel</td>
                            <td>{{this.data_2083.warningTravelDirection}}</td>
                        </tr>
                        <tr>
                            <td>Train Speed</td>
                            <td>{{this.data_2083.warningSpeed}}</td>
                        </tr>
                        <tr>
                            <td>Head End Position</td>
                            <td>
                                x: {{this.data_2083.warningHeadEndPosition.x}} <br>
                                y: {{this.data_2083.warningHeadEndPosition.y}} <br>
                                z: {{this.data_2083.warningHeadEndPosition.z}}
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">Enforcement Information</th>
                        </tr>
                        <tr>
                            <td>Enforcement Time</td>
                            <td>{{this.data_2083.enforcementTime}}</td>
                        </tr>
                        <tr>
                            <td>Start Milepost</td>
                            <td>{{this.data_2083.enforcementMilepost}}</td>
                        </tr>
                        <tr>
                            <td>Start Milepost Prefix</td>
                            <td>{{this.data_2083.enforcementMilepostPrefix}}</td>
                        </tr>
                        <tr>
                            <td>Start Milepost Suffix</td>
                            <td>{{this.data_2083.enforcementMilepostSuffix}}</td>
                        </tr>
                        <tr>
                            <td>Start Track name</td>
                            <td>{{this.data_2083.enforcementTrackName}}</td>
                        </tr>
                        <tr>
                            <td>Railroad SCAC</td>
                            <td>{{this.data_2083.enforcementScac}}</td>
                        </tr>
                        <tr>
                            <td>PTC Subdivision/District ID</td>
                            <td>{{this.data_2083.enforcementSubdivDistrictId}}</td>
                        </tr>
                        <tr>
                            <td>Start Position Uncertainty</td>
                            <td>{{this.data_2083.enforcementUncertainty}}</td>
                        </tr>
                        <tr>
                            <td>Braking Distance</td>
                            <td>{{this.data_2083.enforcementDistance}}</td>
                        </tr>
                        <tr>
                            <td>Direction of Travel</td>
                            <td>{{this.data_2083.enforcementTravelDirection}}</td>
                        </tr>
                        <tr>
                            <td>Train Speed</td>
                            <td>{{this.data_2083.enforcementSpeed}}</td>
                        </tr>
                        <tr>
                            <td>Head End Position</td>
                            <td>
                                x: {{this.data_2083.enforcementHeadEndPosition.x}} <br>
                                y: {{this.data_2083.enforcementHeadEndPosition.y}} <br>
                                z: {{this.data_2083.enforcementHeadEndPosition.z}}
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">Emergency Enforcement Braking Information</th>
                        </tr>
                        <tr>
                            <td>Emergency Enforcement Braking Time</td>
                            <td>
                                {{this.data_2083.emergencyEnforcementTime}} <br>
                                {{this.data_2083.emergencyEnforcementTimeUTC}}
                            </td>
                        </tr>
                        <tr>
                            <td>Start Milepost</td>
                            <td>{{this.data_2083.emergencyEnforcementMilepost}}</td>
                        </tr>
                        <tr>
                            <td>Start Milepost Prefix</td>
                            <td>{{this.data_2083.emergencyEnforcementMilepostPrefix}}</td>
                        </tr>
                        <tr>
                            <td>Start Milepost Suffix</td>
                            <td>{{this.data_2083.emergencyEnforcementMilepostSuffix}}</td>
                        </tr>
                        <tr>
                            <td>Start Track name</td>
                            <td>{{this.data_2083.emergencyEnforcementTrackName}}</td>
                        </tr>
                        <tr>
                            <td>Railroad SCAC</td>
                            <td>{{this.data_2083.emergencyEnforcementScac}}</td>
                        </tr>
                        <tr>
                            <td>PTC Subdivision/District ID</td>
                            <td>{{this.data_2083.emergencyEnforcementSubdivDistrictId}}</td>
                        </tr>
                        <tr>
                            <td>Start Position Uncertainty</td>
                            <td>{{this.data_2083.emergencyEnforcementUncertainty}}</td>
                        </tr>
                        <tr>
                            <td>Braking Distance</td>
                            <td>{{this.data_2083.emergencyEnforcementDistance}}</td>
                        </tr>
                        <tr>
                            <td>Direction of Travel</td>
                            <td>{{this.data_2083.emergencyEnforcementTravelDirection}}</td>
                        </tr>
                        <tr>
                            <td>Train Speed</td>
                            <td>{{this.data_2083.emergencyEnforcementSpeed}}</td>
                        </tr>
                        <tr>
                            <td>Head End Position</td>
                            <td>
                                x: {{this.data_2083.emergencyEnforcementHeadEndPosition.x}} <br>
                                y: {{this.data_2083.emergencyEnforcementHeadEndPosition.y}} <br>
                                z: {{this.data_2083.emergencyEnforcementHeadEndPosition.z}}
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">Current Information</th>
                        </tr>
                        <tr>
                            <td>Time</td>
                            <td>
                                {{this.data_2083.currentTime}} <br>
                                {{this.data_2083.currentTimeUTC}}
                            </td>
                        </tr>
                        <tr>
                            <td>Milepost</td>
                            <td>{{this.data_2083.currentMilepost}}</td>
                        </tr>
                        <tr>
                            <td>Milepost Prefix</td>
                            <td>{{this.data_2083.currentMilepostPrefix}}</td>
                        </tr>
                        <tr>
                            <td>Milepost Suffix</td>
                            <td>{{this.data_2083.currentMilepostSuffix}}</td>
                        </tr>
                        <tr>
                            <td>Track name</td>
                            <td>{{this.data_2083.currentTrackName}}</td>
                        </tr>
                        <tr>
                            <td>Railroad SCAC</td>
                            <td>{{this.data_2083.currentScac}}</td>
                        </tr>
                        <tr>
                            <td>PTC Subdivision/District ID</td>
                            <td>{{this.data_2083.currentSubdivDistrictId}}</td>
                        </tr>
                        <tr>
                            <td>Current Position Uncertainty</td>
                            <td>{{this.data_2083.currentUncertainty}}</td>
                        </tr>
                        <tr>
                            <td>Direction of Travel</td>
                            <td>{{this.data_2083.currentTravelDirection}}</td>
                        </tr>
                        <tr>
                            <td>Train Speed</td>
                            <td>{{this.data_2083.currentSpeed}}</td>
                        </tr>
                        <tr>
                            <td>Head End Position</td>
                            <td>
                                x: {{this.data_2083.currentHeadEndPosition.x}} <br>
                                y: {{this.data_2083.currentHeadEndPosition.y}} <br>
                                z: {{this.data_2083.currentHeadEndPosition.z}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </b-modal>
            </div>
        </div>

    </div>


    <div v-if="mode == 'main'" class="container">
        <div class="row">
            <div class="col m-3">
                <b-card no-body>
                    <b-card-footer>
                        <h4>Hello {{userName}}!</h4>
                    </b-card-footer>
                    <b-card-body>
                        <b-card-sub-title class="mb-2">Welcome to <strong>STROLR</strong>,
                            the <strong>Self Service Tool for Railwaynet Onboard Log Retrieval</strong>.
                        </b-card-sub-title>
                        <b-collapse id="collapse-1">
                            Based on your assigned SCAC <strong>RCAX</strong>,
                            you have access to logs from locomotives with the following SCAC Mark combinations
                            <pre style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
                                    <strong>SCAC	Mark</strong>
                                    AMTK	AMTK
                                    AMTK	CDTX
                                    AMTK	WDTX
                                    AMTK	IDTX
                                    AMTK	RNCX
                                    VREX	VREX</pre>
                            To obtain the latest log file for a locomotive, select the SCAC, Mark and enter the
                            locomotive
                            ID. If the locomotive exists in our database, you will receive a link that points the
                            current
                            log files for that locomotive on the MDM. Please note that it may take up to 5 minutes for
                            the
                            log file to be available for download.
                            <br>
                            You can also request the locomotive status report.
                        </b-collapse>
                    </b-card-body>
                </b-card>
                <b-link v-b-toggle.collapse-1 class="float-right m-1" variant="outline-info">Hide / Show
                </b-link>
            </div>
        </div>

        <div class="row">
            <div class="col m-3">
                <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                    <div class="form-group row">
                        <label for="selSCACMark" size="sm" class="col-sm-5 col-form-label">SCAC - Mark</label>
                        <div class="col-sm-4">
                            <b-form-select id="selSCACMark" min="0" v-model="form.SCACMark" :options="lstFullTree"
                                           required
                                           size="sm" @change1="onChange($event)"></b-form-select>
                        </div>
                        <div class="col-sm-3">
                            <div class="float-right" v-if="plugins.includes('STRL')">
                                <b-button type="button" v-on:click="GetLocomotivesReport" variant="info"
                                          class="btn btn-default">
                                    <span class="glyphicon glyphicon-triangle-right">See locomotives</span>
                                </b-button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inpLocoID" size="sm" class="col-sm-5 col-form-label">Locomotive ID</label>
                        <div class="col">
                            <b-form-input id="inpLocoID" v-model="form.LocoID"
                                          placeholder="Enter Locomotive ID" type="number" size="sm">
                            </b-form-input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inpTimeZone" size="sm" class="col-sm-5 col-form-label">Time Zone</label>
                        <div class="col-sm-3">
                            <b-form-select id="selTimeZone" v-model="form.timeZone" :options="lstTimeZone" required
                                           size="sm" @change1="onChange($event)"></b-form-select>
                        </div>
                        <div class="col-sm-1">
                            <b-form-checkbox
                                    id="chkDST"
                                    v-model="form.dst"
                                    name="chkDST"
                                    :disabled="form.timeZone==0">
                                DST
                            </b-form-checkbox>
                        </div>
                        <div class="col-sm-3">
                            <b-input-group size="sm" prepend="UTC clock">
                                <b-form-input id="inpStartTime" v-model="timeUTC" type="text" size="sm" disabled="true">
                                </b-form-input>
                            </b-input-group>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inpStartDate" size="sm" class="col-sm-5 col-form-label">Start Date /
                            Time</label>
                        <div class="col-sm-4">
                            <b-form-input id="inpStartDate" v-model="form.StartDate" required type="date" size="sm">
                                >
                            </b-form-input>
                        </div>
                        <div class="col-sm-3">
                            <b-input-group size="sm" append="UTC">
                                <b-form-input id="inpStartTime" v-model="form.StartTime" type="time" size="sm">
                                </b-form-input>
                            </b-input-group>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inpEndDate" size="sm" class="col-sm-5 col-form-label">End Date / Time</label>
                        <div class="col-sm-4">
                            <b-form-input id="inpEndDate" v-model="form.EndDate" required type="date" size="sm">>
                            </b-form-input>
                        </div>
                        <div class="col-sm-3">
                            <b-input-group size="sm" append="UTC">
                                <b-form-input id="inpEndTime" v-model="form.EndTime" type="time" size="sm">
                                </b-form-input>
                            </b-input-group>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-5 "> </label>
                        <div class="col">
                            <div class="float-right">
                                <b-button type="submit" v-on:click="setRequestType('get-logs')" variant="primary">Get
                                    Logs
                                </b-button>
                                <b-button v-if="plugins.includes('STROS')" type="submit"
                                          v-on:click="setRequestType('get-status')" variant="primary">Get System Status
                                </b-button>
                                <b-button v-if="plugins.includes('STROB')" type="submit"
                                          v-on:click="setRequestType('get-backoffice')" variant="primary">Get Backoffice
                                    Status
                                </b-button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inpTimeZone" size="sm" class="col-sm-5 col-form-label">Message Type</label>
                        <div class="col-sm-4">
                            <b-form-select id="selMessageType" v-model="form.messageType" :options="lstMessageType"
                                           required
                                           size="sm" @change1="onChange($event)"></b-form-select>
                        </div>
                        <div class="col-sm-3">
                            <div class="float-right">
                                <b-button v-on:click="GetLocomotiveMessages" variant="info">
                                    Get Messages
                                </b-button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-5 "> </label>
                        <div class="col">
                            <b-button type="reset" variant="light">Reset</b-button>
                        </div>
                    </div>
                </b-form>

            </div>
            <div class="col-sm-3">
            </div>
        </div>

        <vue-tabs v-model="active_tab" style="margin-bottom: 20px;">
            <v-tab v-for="tab in this.tab_data_Array" :key="tab.id" :title="tab.title">
                <b-card no-body v-if="tab.isLogs">
                    <b-card-body>
                        <b-card-sub-title class="mb-2">
                            {{tab.Title}}
                        </b-card-sub-title>
                        <b-card-text>
                            Number of Log Files Being Retrieved: {{tab.sFilesCount}}<br>
                            Size of Compressed Log File: {{tab.sTotalBytes}}<br>
                            {{tab.sLogRequestStatus}} <br>
                            {{tab.Status}}
                        </b-card-text>
                        <b-card-title v-if="tab.showLinks">Download links</b-card-title>
                        <b-card-text v-if="tab.showLinks">
                            <a :href="S3BaseURL + tab.messageId + '.tar.gz'" target="_blank">
                                {{S3BaseURL}}{{tab.messageId}}.tar.gz
                            </a>
                            <br>
                            <a :href="S3BaseURL + tab.messageId + '.tar'" target="_blank">
                                {{S3BaseURL}}{{tab.messageId}}.tar
                            </a>
                            <br>
                            <a :href="S3BaseURL + tab.messageId + '.7z'" target="_blank">
                                {{S3BaseURL}}{{tab.messageId}}.7z
                            </a>
                            <br>
                        </b-card-text>
                    </b-card-body>
                    <b-card-footer v-if="!tab.showLinks">
                        Log Server is currently processing request. Please do not close this window! You will be
                        shown a download URL when the log files are ready
                    </b-card-footer>
                </b-card>
                <b-card no-body v-if="tab.isStatus">
                    <b-card-body>
                        <div class="row">
                            <div class="col-sm-6">
                                <table class="table">
                                    <tr>
                                        <td>Locomotive</td>
                                        <td>{{tab.LocoID}}</td>
                                    </tr>
                                    <tr>
                                        <td>Start time</td>
                                        <td>{{tab.status_data.TestTime}}</td>
                                    </tr>
                                    <th colspan="2" style="text-align:center;">IP Information</th>
                                    <tr>
                                        <td>ATT Modem</td>
                                        <td>{{tab.status_data.IpInformation.ATTModem}}</td>
                                    </tr>
                                    <tr>
                                        <td>Verizon Modem</td>
                                        <td>{{tab.status_data.IpInformation.VerizonModem}}</td>
                                    </tr>
                                    <th colspan="2" style="text-align:center;">IP Reachability</th>
                                    <tr>
                                        <td>ATT Modem Status</td>
                                        <td>
                                         <span class="badge"
                                               v-if="tab.status_data.IpReachability.ATTModemStatus.length >0"
                                               v-bind:class="tab.status_data.IpReachability.showConnectedATTConnected?'badge-success':'badge-danger'">
                                          {{tab.status_data.IpReachability.ATTModemStatus}}
                                         </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Verizon Modem Status</td>
                                        <td>
                                         <span class="badge"
                                               v-if="tab.status_data.IpReachability.VerizonModemStatus.length >0"
                                               v-bind:class="tab.status_data.IpReachability.showConnectedVerizonConnected?'badge-success':'badge-danger'">
                                           {{tab.status_data.IpReachability.VerizonModemStatus}}
                                         </span>
                                        </td>
                                    </tr>
                                    <th colspan="2" style="text-align:center;">Wifi Information</th>
                                    <tr>
                                        <td>Wifi Client SSID</td>
                                        <td>
                                            {{tab.status_data.WifiInformation.ClientId}}
                                            <span v-if="tab.status_data.WifiInformation.showConnected"
                                                  class="badge badge-success">
                                            CONNECTED
                                       </span>
                                            <span v-if="tab.status_data.WifiInformation.showNotConnected"
                                                  class="badge badge-danger">
                                           NOT CONNECTED
                                       </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Access Point</td>
                                        <td>
                                            {{tab.status_data.WifiInformation.AccessPoint}}
                                        </td>
                                    </tr>
                                    <th colspan="2" style="text-align:center;">IETMS Gateway Information</th>
                                    <tr>
                                        <td>IETMS Client</td>
                                        <td>
                                        <span class="badge"
                                              v-if="tab.status_data.GatewayInformation.ETMSClient.length > 0"
                                              v-bind:class="tab.status_data.GatewayInformation.ETMSConnected?'badge-success':'badge-danger'">
                                            {{tab.status_data.GatewayInformation.ETMSClient}}
                                        </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>MDM Client</td>
                                        <td>
                                        <span class="badge"
                                              v-if="tab.status_data.GatewayInformation.MDMClient.length > 0"
                                              v-bind:class="tab.status_data.GatewayInformation.MDMConnected?'badge-success':'badge-danger'">
                                            {{tab.status_data.GatewayInformation.MDMClient}}
                                        </span>
                                        </td>
                                    </tr>

                                    <th colspan="2" style="text-align:center;">ITCM Route Information</th>

                                    <tr>
                                        <td>ATT ITCM Route</td>
                                        <td>
                                                <span class="badge"
                                                      v-if="tab.status_data.RouteInformation.ATTRoute.length > 0"
                                                      v-bind:class="tab.status_data.RouteInformation.isATTStable?'badge-success':'badge-danger'">
                                                    {{tab.status_data.RouteInformation.ATTRoute}}
                                                </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ATT Route Timestamp</td>
                                        <td>{{tab.status_data.RouteInformation.ATTRouteTimestamp}}</td>
                                    </tr>
                                    <tr>
                                        <td>Verizon ITCM Route</td>
                                        <td>
                                                <span class="badge"
                                                      v-if="tab.status_data.RouteInformation.VerizonRoute.length > 0"
                                                      v-bind:class="tab.status_data.RouteInformation.isVerizonStable?'badge-success':'badge-danger'">
                                                    {{tab.status_data.RouteInformation.VerizonRoute}}
                                                </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Verizon Route Timestamp</td>
                                        <td>{{tab.status_data.RouteInformation.VerizonRouteTimestamp}}</td>
                                    </tr>
                                    <tr>
                                        <td>Sprint ITCM Route</td>
                                        <td>
                                                <span class="badge"
                                                      v-if="tab.status_data.RouteInformation.SprintRoute.length >0"
                                                      v-bind:class="tab.status_data.RouteInformation.showSprintStable?'badge-success':'badge-danger'">
                                                    {{tab.status_data.RouteInformation.SprintRoute}}
                                                </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Sprint Route Timestamp</td>
                                        <td>{{tab.status_data.RouteInformation.SprintRouteTimestamp}}</td>
                                    </tr>
                                    <tr>
                                        <td>Wifi ITCM Route</td>
                                        <td>
                                               <span class="badge"
                                                     v-if="tab.status_data.RouteInformation.WifiRoute.length >0"
                                                     v-bind:class="tab.status_data.RouteInformation.showRouteConnected?'badge-success':'badge-danger'">
                                                  {{tab.status_data.RouteInformation.WifiRoute}}
                                               </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>WiFi Route Timestamp</td>
                                        <td>{{tab.status_data.RouteInformation.WiFiRouteTimestamp}}</td>
                                    </tr>
                                    <tr>
                                        <td>220 MHz Radio</td>
                                        <td>
                                               <span class="badge"
                                                     v-if="tab.status_data.RouteInformation.MHzRadio.length >0"
                                                     v-bind:class="tab.status_data.RouteInformation.showRadioConnected?'badge-success':'badge-danger'">
                                                  {{tab.status_data.RouteInformation.MHzRadio}}
                                               </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Radio Route Timestamp</td>
                                        <td>{{tab.status_data.RouteInformation.RadioRouteTimestamp}}</td>
                                    </tr>

                                    <th colspan="2" style="text-align:center;">220 Base Station Radio Information</th>
                                    <tr>
                                        <td>Radio Id</td>
                                        <td>{{tab.status_data.RadioInformation.RadioId}}</td>
                                    </tr>
                                    <tr>
                                        <td>EMP Address</td>
                                        <td>{{tab.status_data.RadioInformation.EMPAddress}}</td>
                                    </tr>
                                    <th colspan="2" style="text-align:center;">Cell status</th>
                                    <tr>
                                        <td>Cell Status</td>
                                        <td>
                                            <span class="badge"
                                                  v-if="tab.status_data.CellStatus.status.length >0"
                                                  v-bind:class="tab.status_data.CellStatus.showGood?'badge-success':'badge-danger'">
                                              {{tab.status_data.CellStatus.status}}
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <ul>
                                    <li style="list-style: none;" v-for="status_message in tab.messages">
                                        {{ status_message }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </b-card-body>
                    <b-card-footer v-if="tab.showFooter">
                        Locomotive System Status Server is currently processing request. You will be
                        shown the information when the backend server provides it.
                    </b-card-footer>
                </b-card>
                <b-card no-body v-if="tab.isOffice">
                    <b-card-body>
                        <div class="row">
                            <div class="col-sm-6">
                                <table v-for="office_data in tab.office_dataArray" class="table">
                                    <th colspan="2" style="text-align:center;">{{office_data.header}}</th>
                                    <tr v-for="server in office_data.servers">
                                        <td>{{server.descr}}</td>
                                        <td>
                                                   <span class="badge badge-success"
                                                         v-if="server.value === 'OK'"> {{server.value}}
                                                   </span>
                                            <span class="badge badge-warning"
                                                  v-if="server.value === 'WARNING'"> {{server.value}}
                                                   </span>
                                            <span class="badge badge-danger"
                                                  v-if="server.value === 'CRITICAL'"> {{server.value}}
                                                   </span>
                                            <span class="badge"
                                                  v-if="server.errorMsg != ''"> {{server.errorMsg}}
                                                   </span>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table" v-if="tab.federations.length">
                                    <th colspan="2" style="text-align:center;">Federation Status</th>
                                    <tr v-for="federation in tab.federations">
                                        <td>{{federation.Federation}}</td>
                                        <td>
                                                   <span class="badge badge-success"
                                                         v-if="federation.ServerCount === federation.OperationalCount">
                                                       Fully Operational
                                                   </span>
                                            <span class="badge badge-warning"
                                                  v-if="federation.ServerCount > 0 && federation.ServerCount > federation.OperationalCount">
                                                        Partially Operational
                                                   </span>
                                            <span class="badge badge-danger"
                                                  v-if="federation.ServerCount > 0 && federation.OperationalCount == 0">
                                                        Offline
                                                   </span>
                                            ({{federation.ServerCount}}/{{federation.OperationalCount}})
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <ul>
                                    <li style="list-style: none;" v-for="status_message in tab.messages">
                                        {{ status_message }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </b-card-body>
                </b-card>
            </v-tab>
        </vue-tabs>
    </div>

</div>

<script src="app.js"></script>

</body>

</html>